.row-no-padding {
    margin-left: 0px;
    margin-right: 0px;
}

body{
    margin: 50px 0px 5px 0px;
    background-color: #f5f5f5;
}

.destaques{
    position: relative;
    min-height: 1px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 40px 20px 0px 20px;
    color: #FFF;
    background: #4FAFC2;
    text-align: center;
}

.destaques-footer{
    padding: 40px 20px 40px 20px;
    color: #FFF;
    background: #3E6D92;
    text-align: center;
}

.h2-destaques{
    color: #fff;
    font-size: 5em;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;    
}

.h3-destaques{
    margin: 0px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-destaque{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #3E6D92;
    color: #fff;
    border: 2px solid #fff;
    padding: 18px 23px;
    font-size: 22px;
    text-transform: uppercase;
}

.btn-destaque:hover{
    background: #FFF;
    color: #3E6D92;
}

.img-destaque{
    vertical-align:bottom; 
}

.footer-above{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2C3E50;
    color: #FFF;
}

.footer-below{
    padding: 25px 0;
    background-color: #233140;
    color: #FFF;
}

.content {
    margin: 25px;
}

.content-blog{
   margin: 80px 25px 20px 25px; 
}

.month{
    font-size: 16px;
    font-weight: 500;    
}

.day{
    font-size: 32px;
    font-weight: 600;
    line-height: .7em;
}

.post-date{
    width: 100px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px 0px 0px;
    float: left;
    padding: 7px 3px 7px 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.post-Title{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1em;
}

.post-sub-title{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5em;
}

.post-info{
    margin-top: 8px;
    margin-bottom: 15px;
}

.like-box-heart{
    font-size: 1.2em;
    display: block;
    float: left;
    width: 30%;
    background: #1c588f;
    color: #fff;
    line-height: 30px;
}

.like-box-score{
    font-size: 1.2em;
    display: block;
    float: right;
    width: 70%;
    background: #3498db;
    color: #fff;
    line-height: 30px;
}

.hr-date{
    margin: 7px 5px 7px 5px;
    border-width: 2px;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #FFF;
}

.btn-social:active, .btn-social:focus, .btn-social:hover{
    color: #18BC9C;
}

.btn-read-more{
    background: #1c588f;
    color: #fff;
    border: 2px solid #1c588f;
    padding: 8px 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-read-more:active, .btn-read-more:focus, .btn-read-more:hover{
    color: #FFF;
    border: 2px solid #1c588f;
    background: #3498db;
}

.user-info-box{
    background-color: #fff;
    border-top: 2px solid #f0f0f0;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.8);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.file-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.file-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.file-preview-input-title {
    margin-left:2px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.displayNone{
    display: none
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}
